
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/4d9c8a58-11bf-49c9-9983-7b97051c8a47.vsidx
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/5e88f6fe-6683-4438-ba46-76c3d440e148.vsidx
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/6760935f-ddf5-45cb-bc1d-c257b0f025de.vsidx
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/7225a346-6664-4133-a7a3-06c599956a28.vsidx
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/a8754c7e-a02d-42db-a5fd-d73108dc8a86.vsidx
WPFTaskPro/WPFTaskPro_WS/.vs/WPFTaskPro_WS/FileContentIndex/fe5ead98-8618-430f-8094-1fe4ec534c96.vsidx
